[submodule "Modules/Member"]
	path = Modules/Member
	url = https://github.com/kbdxbt/kbframe-member
[submodule "Modules/PlatformGateway"]
	path = Modules/PlatformGateway
	url = https://github.com/kbdxbt/kbframe-platform-gateway
[submodule "Modules/Core"]
	path = Modules/Core
	url = https://github.com/kbdxbt/kbframe-core
[submodule "Modules/Publish"]
	path = Modules/Publish
	url = https://github.com/kbdxbt/kbframe-publish
[submodule "Modules/System"]
	path = Modules/System
	url = https://github.com/kbdxbt/kbframe-system.git
