[submodule "Modules/Member"]
	path = Modules/Member
	url = git@github.com:kbdxbt/kbframe-member.git
[submodule "Modules/PlatformGateway"]
	path = Modules/PlatformGateway
	url = git@github.com:kbdxbt/kbframe-platform-gateway.git
[submodule "Modules/Core"]
	path = Modules/Core
	url = git@github.com:kbdxbt/kbframe-core.git
[submodule "Modules/Publish"]
	path = Modules/Publish
	url = git@github.com:kbdxbt/kbframe-publish.git
